# TransUnion Trusted Call Solutions (TCS) - API - 6.6.2
openapi: "3.0.3"
info:
  title: "TransUnion Trusted Call Solutions (TCS) - API - 6.6.2"
  version: "6.6.2"
  description: "Unified OpenAPI specification for the TransUnion Trusted Call Solutions (TCS) platform. Covers Call Authentication (AAM login/token), SDPR account, feature, caller profile, business profile, image, image profile, and TN asset endpoints across CCID, CNO, BCD, and SCP products, plus Analytics and Webhook Notification APIs. The inbound webhook event delivery contract is documented under x-webhooks."
  contact:
    name: "Transunion TCS Customer Support"
    email: "calleridsupport@transunion.com"
    url: "https://www.transunion.com/solution/trucontact"
servers:
- url: "https://api-rst.ccid.neustar.biz"
  description: "Production"
- url: "https://api-uat-rst.ccid.neustar.biz"
  description: "UAT / Sandbox"
components:
  securitySchemes:
    BearerAuth:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
      description: "Obtain a JWT access token via the /ccid/aam/v1/login endpoint"
    ApiKeyAuth:
      type: "apiKey"
      in: "query"
      name: "apiKey"
      description: "API key for Call Authentication (CCID /authn) sent as a query parameter. Alternative to the preferred Authorization Bearer header or a pre-registered remote IP / CIDR allowlist."
    IdentityBearerAuth:
      type: "http"
      scheme: "bearer"
      description: "Preferred authentication for Call Authentication (CCID /authn). Send your provisioned API key as an HTTP Bearer token in the Authorization header: `Authorization: Bearer YOUR_API_KEY`."
paths:
  "/ccid/authn/v2/identity":
    post:
      summary: "Call Authentication (CCID)"
      description: "Standards-based REST API for verifying caller identity using IETF RFC 8224 and the ATIS SHAKEN framework. Call Authentication is a prerequisite for both Spoofed Call Protection (SCP) and Branded Call Display (BCD) to function. Base URLs by region — US low-latency: https://tcs.ccid.neustar.biz, US standard: https://authn.ccid.neustar.biz, Canada: https://authn-ca.ccid.neustar.biz. Preferred authentication is the provisioned API key sent as an HTTP Bearer token in the Authorization header. Alternatives: apiKey query parameter or a pre-registered remote IP / CIDR allowlist."
      operationId: "call-authentication-identity"
      tags:
      - "Call Authentication"
      security:
      - IdentityBearerAuth: []
      - ApiKeyAuth: []
      - {}
      parameters:
      - name: "apiKey"
        in: "query"
        required: false
        description: "Your provisioned API key. Only used when not sending the key via the Authorization header or when the request does not originate from a pre-registered IP/CIDR range. Header-based Bearer authentication is preferred."
        schema:
          type: "string"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              required:
              - "from"
              - "to"
              properties:
                from:
                  type: "string"
                  description: "Calling party's TN in TEL URI format (RFC 3966). Example: tel:+17201234567"
                to:
                  type: "string"
                  description: "Called party's TN in TEL URI format. Example: tel:+12482989788"
                origid:
                  type: "string"
                  description: "Unique origination identifier for call tracing and audit logging."
            example:
              from: "tel:+17201234567"
              to: "tel:+12482989788"
              origid: "usefulenterpriseuniquenumber"
      responses:
        "200":
          description: "OK — identity assertion accepted. Response body is intentionally empty."
        "400":
          description: "Bad Request — API key missing/invalid or parameter error"
          content:
            "application/json":
              schema:
                type: "object"
              example:
                error_id: "ApiKeyRequired"
                http_status_code: 400
                reason: "API key is required"
                timestamp: "Thu, 2 Apr 2026 13:04:03 GMT"
        "403":
          description: "Forbidden — required request body field missing"
          content:
            "application/json":
              schema:
                type: "object"
              example:
                error_id: "RequestFromHeaderRequired"
                http_status_code: 403
                reason: "From header value required"
                timestamp: "Thu, 2 Apr 2026 13:04:03 GMT"
        "500":
          description: "Internal Server Error"
  "/ccid/aam/v1/login":
    post:
      summary: "Create Auth Token"
      description: "Authenticate with the TCS platform to obtain an access token. This token is required in the Authorization header of all subsequent API calls."
      operationId: "auth-token"
      tags:
      - "Authentication"
      security: []
      x-source-id: "auth-token"
      x-source-name: "Create Auth Token"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                userId:
                  type: "string"
                  description: "The admin user ID provided during onboarding"
                  x-constraints: "Must be a valid provisioned user"
                password:
                  type: "string"
                  description: "The password associated with the admin user"
                  x-constraints: "Must match the provisioned credentials"
              required:
              - "userId"
              - "password"
            example:
              userId: "{{adminUserId}}"
              password: "{{password}}"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  status:
                    type: "string"
                    description: "Result of the login attempt"
                    x-constraints: "\"success\" or \"failure\""
                  message:
                    type: "string"
                    description: "Human-readable result message"
                  accessToken:
                    type: "string"
                    description: "JWT access token for authenticating subsequent API calls"
                    x-constraints: "Bearer token, include in Authorization header"
                  refreshToken:
                    type: "string"
                    description: "JWT refresh token for obtaining new access tokens without re-authenticating"
                  idToken:
                    type: "string"
                    description: "JWT ID token containing the authenticated user's identity claims (subject, email, account context)"
                required:
                - "status"
                - "message"
                - "accessToken"
                - "refreshToken"
                - "idToken"
              example:
                status: "success"
                message: "Login is successful"
                accessToken: "<JWT_ACCESS_TOKEN>"
                refreshToken: "<JWT_REFRESH_TOKEN>"
                idToken: "<JWT_ID_TOKEN>"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
  "/ccid/aam/v2/admin/account":
    post:
      summary: "Create Account"
      description: "Create a new enterprise account. This is the first step after authentication to set up your organization on the TCS platform."
      operationId: "create-account"
      tags:
      - "Account Management"
      security:
      - BearerAuth: []
      x-source-id: "create-account"
      x-source-name: "Create Account"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                name:
                  type: "string"
                  description: "The display name for the enterprise account"
                type:
                  type: "string"
                  description: "The type of account"
                status:
                  type: "string"
                  description: "The initial status of the account"
                relationship:
                  type: "string"
                  description: "The relationship type to TransUnion"
                parent_account:
                  type: "array"
                  items: {}
                  description: "List of parent account IDs this account belongs to"
                billing:
                  type: "object"
                  description: "Billing configuration object with id, model, frequency"
                service:
                  type: "array"
                  items: {}
                  description: "Services to provision for this account"
                child_account_enabled:
                  type: "boolean"
                  description: "Whether child accounts can be created under this account"
                domain:
                  type: "string"
                  description: "Domain associated with the account"
                comment:
                  type: "string"
                  description: "Free-text comment"
                contact:
                  type: "array"
                  items:
                    type: "object"
                    properties:
                      first_name:
                        type: "string"
                        description: "First name of the contact"
                      last_name:
                        type: "string"
                        description: "Last name of the contact"
                      email:
                        type: "string"
                        description: "Email address of the contact"
                      phone:
                        type: "string"
                        description: "Phone number of the contact"
                      type:
                        type: "string"
                        description: "Type of contact"
                  description: "Contact list for the account. Each entry must include first_name, last_name, email, phone, and type."
                address:
                  type: "object"
                  description: "Physical address object"
                start_date:
                  type: "string"
                  x-format: "date-time"
                  description: "The contract start date"
                end_date:
                  type: "string"
                  x-format: "date-time"
                  description: "The contract end date"
                application:
                  type: "array"
                  items: {}
                  description: "Applications this account is provisioned for"
                ein:
                  type: "string"
                  description: "Employer Identification Number"
                duns:
                  type: "string"
                  description: "DUNS number"
                name_alias:
                  type: "array"
                  items: {}
                  description: "Alternative names for the account"
              required:
              - "name"
              - "type"
              - "status"
              - "relationship"
              - "parent_account"
              - "billing"
              - "service"
              - "start_date"
              - "end_date"
              - "application"
            example:
              name: "user_sample enterprise_1"
              type: "ENTERPRISE"
              status: "ACTIVE"
              relationship: "DIRECT"
              parent_account:
              - "x0vo1z7q11"
              billing:
                id: "TEwilldefine"
                model: "OTHER"
                frequency: "MONTHLY"
              service:
              - type: "SDPR"
              child_account_enabled: false
              domain: "user.com"
              comment: "example for tech enabler setup"
              contact:
              - first_name: "james"
                last_name: "bond"
                email: "james.bond@example.com"
                phone: "+1.7201234567"
                type: "PRIMARY"
              - first_name: "charlie"
                last_name: "bond"
                email: "charlie.bond@example.com"
                phone: "+1.1134567890"
                type: "SECONDARY"
              address:
                street: "123 Main st"
                city: "Sterling"
                postal_code: "20123"
                state_or_province: "VA"
                country_code: "US"
              start_date: "Fri, 4 Apr 2025 18:18:49 GMT"
              end_date: "Sat, 4 Apr 2026 18:18:49 GMT"
              application:
              - "CCID"
              - "TCS"
              ein: "123456789"
              duns: "923456789"
              name_alias:
              - "name alias2"
              - "name alias1"
      responses:
        "201":
          description: "Created"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  id:
                    type: "string"
                    description: "Unique identifier assigned to the account"
                    x-constraints: "Length between 4 and 10"
                  name:
                    type: "string"
                    description: "The display name for the enterprise account"
                  type:
                    type: "string"
                    description: "The type of account"
                  status:
                    type: "string"
                    description: "Current status of the account"
                  relationship:
                    type: "string"
                    description: "The relationship type to TransUnion"
                  parent_account:
                    type: "array"
                    items: {}
                    description: "Parent account IDs"
                  billing:
                    type: "object"
                    description: "Billing configuration object"
                  service:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        id:
                          type: "string"
                          description: "Service ID assigned by the system"
                      required:
                      - "id"
                    description: "List of provisioned services, each with type and assigned id"
                  child_account_enabled:
                    type: "boolean"
                    description: "Whether child accounts are enabled"
                  domain:
                    type: "string"
                    description: "Domain associated with the account"
                  comment:
                    type: "string"
                    description: "Free-text comment about the account"
                  contact:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        first_name:
                          type: "string"
                          description: "First name of the contact"
                        last_name:
                          type: "string"
                          description: "Last name of the contact"
                        email:
                          type: "string"
                          description: "Email address of the contact"
                        phone:
                          type: "string"
                          description: "Phone number of the contact"
                        type:
                          type: "string"
                          description: "Contact type"
                          x-constraints: "PRIMARY or SECONDARY"
                    description: "List of contacts for the account. Each entry includes first_name, last_name, email, phone, and type."
                  address:
                    type: "object"
                    description: "Physical address with street, city, postal_code, state_or_province, country_code"
                  start_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Contract start date"
                  end_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Contract end date"
                  application:
                    type: "array"
                    items: {}
                    description: "Provisioned applications"
                  ein:
                    type: "string"
                    description: "Employer Identification Number"
                    x-constraints: "9 digits"
                  duns:
                    type: "string"
                    description: "Dun & Bradstreet DUNS number"
                    x-constraints: "9 digits"
                  name_alias:
                    type: "array"
                    items: {}
                    description: "Alternative names or DBAs for the account"
                  vetting:
                    type: "object"
                    properties:
                      status:
                        type: "string"
                        description: "Account vetting status"
                        x-constraints: "PREVETTED, VETTING_SUBMITTED, or VETTING_DEFERRED"
                      status_timestamp:
                        type: "string"
                        x-format: "date-time"
                        description: "When the vetting status was last updated"
                        x-constraints: "RFC 1123 format"
                  created_by:
                    type: "string"
                    description: "User ID that created the object"
                    x-constraints: "Length between 1 and 64"
                  created_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Timestamp when the object was created"
                    x-constraints: "RFC 1123 format"
                  updated_by:
                    type: "string"
                    description: "User ID that last updated the object"
                  updated_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Timestamp of the last update"
                required:
                - "id"
                - "name"
                - "type"
                - "status"
                - "relationship"
                - "parent_account"
                - "billing"
                - "service"
                - "child_account_enabled"
                - "start_date"
                - "end_date"
                - "application"
                - "created_by"
                - "created_date"
                - "updated_by"
                - "updated_date"
              example:
                id: "xi0vhua3b4"
                name: "user_sample enterprise1"
                type: "ENTERPRISE"
                status: "ACTIVE"
                relationship: "DIRECT"
                parent_account:
                - "x0vo1z7q11"
                billing:
                  id: "TEwilldefine"
                  model: "OTHER"
                  frequency: "MONTHLY"
                service:
                - type: "SDPR"
                  id: "xi0vhua3b4"
                child_account_enabled: false
                domain: "user.com"
                comment: "example for tech enabler setup"
                contact:
                - first_name: "james"
                  last_name: "bond"
                  email: "james.bond@example.com"
                  phone: "+1.7201234567"
                  type: "PRIMARY"
                - first_name: "charlie"
                  last_name: "bond"
                  email: "charlie.bond@example.com"
                  phone: "+1.1134567890"
                  type: "SECONDARY"
                address:
                  street: "123 Main st"
                  city: "Sterling"
                  postal_code: "20123"
                  state_or_province: "VA"
                  country_code: "US"
                start_date: "Fri, 4 Apr 2025 18:18:49 GMT"
                end_date: "Sat, 4 Apr 2026 18:18:49 GMT"
                application:
                - "CCID"
                - "TCS"
                ein: "123456789"
                duns: "923456789"
                name_alias:
                - "name alias2"
                - "name alias1"
                vetting:
                  status: "PREVETTED"
                  status_timestamp: "Fri, 4 Apr 2025 18:18:49 GMT"
                created_by: "user_v4_api_prod"
                created_date: "Mon, 23 Mar 2026 16:42:42 GMT"
                updated_by: "user_v4_api_prod"
                updated_date: "Mon, 23 Mar 2026 16:42:42 GMT"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
    get:
      summary: "List Accounts"
      description: "List accounts visible to the authenticated admin. Each entry mirrors the full account object returned by Get Account. Results are returned in pages — pass the value returned in the response's `Pagination-Token` header back on the next request as the `Pagination-Token` request header. When the response omits the header, you have reached the last page."
      operationId: "list-account"
      tags:
      - "Account Management"
      security:
      - BearerAuth: []
      x-source-id: "list-account"
      x-source-name: "List Accounts"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "array"
                items:
                  type: "object"
                  properties:
                    id:
                      type: "string"
                      description: "Unique account identifier"
                      x-constraints: "Length between 4 and 10"
                    name:
                      type: "string"
                      description: "Account display name"
                    type:
                      type: "string"
                      description: "Account type"
                      x-constraints: "ENTERPRISE, COMPANY, or SUBSCRIBER"
                    status:
                      type: "string"
                      description: "Current account status"
                      x-constraints: "ACTIVE or INACTIVE"
                    relationship:
                      type: "string"
                      description: "Relationship type to TransUnion"
                    parent_account:
                      type: "array"
                      items: {}
                      description: "Parent account IDs"
                    billing:
                      type: "object"
                      description: "Billing configuration with id, model, and frequency"
                    service:
                      type: "array"
                      items:
                        type: "object"
                        properties:
                          type:
                            type: "string"
                            description: "Service type (e.g., SDPR, WB, STIAS)"
                          id:
                            type: "string"
                            description: "Service identifier"
                        required:
                        - "type"
                        - "id"
                      description: "List of provisioned services (SDPR, WB, STIAS, etc.)"
                    child_account_enabled:
                      type: "boolean"
                      description: "Whether child accounts are enabled"
                    start_date:
                      type: "string"
                      x-format: "date-time"
                      description: "Contract start date"
                      x-constraints: "RFC 1123 format"
                    end_date:
                      type: "string"
                      x-format: "date-time"
                      description: "Contract end date"
                      x-constraints: "RFC 1123 format"
                    application:
                      type: "array"
                      items: {}
                      description: "Provisioned applications"
                      x-constraints: "CCID, TCS"
                    domain:
                      type: "string"
                      description: "Domain associated with the account"
                    comment:
                      type: "string"
                      description: "Free-text comment about the account"
                    contact:
                      type: "array"
                      items:
                        type: "object"
                        properties:
                          first_name:
                            type: "string"
                            description: "First name of the contact"
                          last_name:
                            type: "string"
                            description: "Last name of the contact"
                          email:
                            type: "string"
                            description: "Email address of the contact"
                          phone:
                            type: "string"
                            description: "Phone number of the contact"
                          type:
                            type: "string"
                            description: "Contact type"
                            x-constraints: "PRIMARY or SECONDARY"
                      description: "List of contacts for the account. Each entry includes first_name, last_name, email, phone, and type."
                    address:
                      type: "object"
                      description: "Physical address with street, city, postal_code, state_or_province, country_code"
                    ein:
                      type: "string"
                      description: "Employer Identification Number"
                      x-constraints: "9 digits"
                    duns:
                      type: "string"
                      description: "Dun & Bradstreet DUNS number"
                      x-constraints: "9 digits"
                    name_alias:
                      type: "array"
                      items: {}
                      description: "Alternative names or DBAs for the account"
                    vetting:
                      type: "object"
                      properties:
                        status:
                          type: "string"
                          description: "Account vetting status"
                          x-constraints: "PREVETTED, VETTING_SUBMITTED, or VETTING_DEFERRED"
                        status_timestamp:
                          type: "string"
                          x-format: "date-time"
                          description: "When the vetting status was last updated"
                          x-constraints: "RFC 1123 format"
                    created_by:
                      type: "string"
                      description: "User ID that created the account"
                    created_date:
                      type: "string"
                      x-format: "date-time"
                      description: "Account creation timestamp"
                    updated_by:
                      type: "string"
                      description: "User ID that last updated the account"
                    updated_date:
                      type: "string"
                      x-format: "date-time"
                      description: "Last update timestamp"
                  required:
                  - "id"
                  - "name"
                  - "type"
                  - "status"
                  - "relationship"
                  - "parent_account"
                  - "billing"
                  - "service"
                  - "child_account_enabled"
                  - "start_date"
                  - "end_date"
                  - "application"
                  - "created_by"
                  - "created_date"
                  - "updated_by"
                  - "updated_date"
              example:
              - id: "xeb9ekoawz"
                name: "user_sample enterprise"
                type: "ENTERPRISE"
                status: "ACTIVE"
                relationship: "DIRECT"
                parent_account:
                - "x0vo1z7q11"
                billing:
                  id: "TUwilldefine"
                  model: "OTHER"
                  frequency: "MONTHLY"
                service:
                - type: "STIAS"
                  id: "571578"
                - type: "SDPR"
                  id: "xeb9ekoawz"
                child_account_enabled: false
                domain: "user.com"
                comment: "example for tech enabler setup"
                contact:
                - first_name: "charlie"
                  last_name: "bond"
                  email: "charlie.bond@example.com"
                  phone: "+1.1134567890"
                  type: "SECONDARY"
                - first_name: "james"
                  last_name: "bond"
                  email: "james.bond@example.com"
                  phone: "+1.7201234567"
                  type: "PRIMARY"
                address:
                  street: "123 Main st"
                  city: "Sterling"
                  postal_code: "20123"
                  state_or_province: "VA"
                  country_code: "US"
                start_date: "Fri, 4 Apr 2025 18:18:49 GMT"
                end_date: "Sat, 4 Apr 2026 18:18:49 GMT"
                application:
                - "CCID"
                - "TCS"
                created_by: "user_v4_api_prod"
                created_date: "Wed, 18 Feb 2026 21:06:14 GMT"
                updated_by: "user_v4_api_prod"
                updated_date: "Wed, 18 Feb 2026 21:06:14 GMT"
                ein: "123456789"
                duns: "923456789"
                name_alias:
                - "name alias2"
                - "name alias1"
                vetting:
                  status: "PREVETTED"
                  status_timestamp: "Fri, 4 Apr 2025 18:18:49 GMT"
              - id: "xvm465a2g8"
                name: "user_enterprise_7"
                type: "ENTERPRISE"
                status: "ACTIVE"
                relationship: "DIRECT"
                parent_account:
                - "xgvaf00cx3"
                billing:
                  id: "user_enterprise_7"
                  model: "OTHER"
                  frequency: "MONTHLY"
                service:
                - type: "SDPR"
                  id: "xvm465a2g8"
                child_account_enabled: false
                domain: "user_enterprise_7"
                comment: "example for tech enabler setup for 7th account"
                contact:
                - first_name: "james"
                  last_name: "bond"
                  email: "james.bond@example.com"
                  phone: "+1.7201234567"
                  type: "PRIMARY"
                - first_name: "charlie"
                  last_name: "bond"
                  email: "charlie.bond@example.com"
                  phone: "+1.1134567890"
                  type: "SECONDARY"
                address:
                  street: "456 Oak ave"
                  city: "Reston"
                  postal_code: "20190"
                  state_or_province: "VA"
                  country_code: "US"
                start_date: "Fri, 4 Apr 2025 18:18:49 GMT"
                end_date: "Sat, 4 Apr 2026 18:18:49 GMT"
                application:
                - "CCID"
                - "TCS"
                created_by: "user_v4_api_prod"
                created_date: "Thu, 19 Feb 2026 14:22:08 GMT"
                updated_by: "user_v4_api_prod"
                updated_date: "Thu, 19 Feb 2026 14:22:08 GMT"
                ein: "987654321"
                duns: "987654321"
                name_alias:
                - "alt name 1"
                - "alt name 2"
                vetting:
                  status: "PREVETTED"
                  status_timestamp: "Fri, 4 Apr 2025 18:18:49 GMT"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
  "/ccid/aam/v2/admin/account/{accountId}":
    get:
      summary: "Get Account"
      description: "Retrieve details of a specific account by its ID, including contacts, address, vetting status, and service configuration."
      operationId: "get-account"
      tags:
      - "Account Management"
      security:
      - BearerAuth: []
      x-source-id: "get-account"
      x-source-name: "Get Account"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        description: "Unique identifier of the account to retrieve"
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  id:
                    type: "string"
                    description: "Unique account identifier"
                    x-constraints: "Length between 4 and 10"
                  name:
                    type: "string"
                    description: "Account display name"
                  type:
                    type: "string"
                    description: "Account type"
                    x-constraints: "ENTERPRISE, COMPANY, or SUBSCRIBER"
                  status:
                    type: "string"
                    description: "Current account status"
                    x-constraints: "ACTIVE or INACTIVE"
                  relationship:
                    type: "string"
                    description: "Relationship type to TransUnion"
                  parent_account:
                    type: "array"
                    items: {}
                    description: "Parent account IDs"
                  billing:
                    type: "object"
                    description: "Billing configuration with id, model, and frequency"
                  service:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        type:
                          type: "string"
                          description: "Service type (e.g., SDPR, WB, STIAS)"
                        id:
                          type: "string"
                          description: "Service identifier"
                      required:
                      - "type"
                      - "id"
                    description: "List of provisioned services (SDPR, WB, STIAS, etc.)"
                  child_account_enabled:
                    type: "boolean"
                    description: "Whether child accounts are enabled"
                  start_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Contract start date"
                    x-constraints: "RFC 1123 format"
                  end_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Contract end date"
                    x-constraints: "RFC 1123 format"
                  application:
                    type: "array"
                    items: {}
                    description: "Provisioned applications"
                    x-constraints: "CCID, TCS"
                  domain:
                    type: "string"
                    description: "Domain associated with the account"
                  comment:
                    type: "string"
                    description: "Free-text comment about the account"
                  contact:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        first_name:
                          type: "string"
                          description: "First name of the contact"
                        last_name:
                          type: "string"
                          description: "Last name of the contact"
                        email:
                          type: "string"
                          description: "Email address of the contact"
                        phone:
                          type: "string"
                          description: "Phone number of the contact"
                        type:
                          type: "string"
                          description: "Contact type"
                          x-constraints: "PRIMARY or SECONDARY"
                    description: "List of contacts for the account. Each entry includes first_name, last_name, email, phone, and type."
                  address:
                    type: "object"
                    description: "Physical address with street, city, postal_code, state_or_province, country_code"
                  ein:
                    type: "string"
                    description: "Employer Identification Number"
                    x-constraints: "9 digits"
                  duns:
                    type: "string"
                    description: "Dun & Bradstreet DUNS number"
                    x-constraints: "9 digits"
                  name_alias:
                    type: "array"
                    items: {}
                    description: "Alternative names or DBAs for the account"
                  vetting:
                    type: "object"
                    properties:
                      status:
                        type: "string"
                        description: "Account vetting status"
                        x-constraints: "PREVETTED, VETTING_SUBMITTED, or VETTING_DEFERRED"
                      status_timestamp:
                        type: "string"
                        x-format: "date-time"
                        description: "When the vetting status was last updated"
                        x-constraints: "RFC 1123 format"
                  created_by:
                    type: "string"
                    description: "User ID that created the account"
                  created_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Account creation timestamp"
                  updated_by:
                    type: "string"
                    description: "User ID that last updated the account"
                  updated_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Last update timestamp"
                required:
                - "id"
                - "name"
                - "type"
                - "status"
                - "relationship"
                - "parent_account"
                - "billing"
                - "service"
                - "child_account_enabled"
                - "start_date"
                - "end_date"
                - "application"
                - "created_by"
                - "created_date"
                - "updated_by"
                - "updated_date"
              example:
                id: "xeb9ekoawz"
                name: "user_sample enterprise"
                type: "ENTERPRISE"
                status: "ACTIVE"
                relationship: "DIRECT"
                parent_account:
                - "x0vo1z7q11"
                billing:
                  id: "TUwilldefine"
                  model: "OTHER"
                  frequency: "MONTHLY"
                service:
                - type: "STIAS"
                  id: "571578"
                - type: "SDPR"
                  id: "xeb9ekoawz"
                child_account_enabled: false
                domain: "user.com"
                comment: "example for tech enabler setup"
                contact:
                - first_name: "charlie"
                  last_name: "bond"
                  email: "charlie.bond@example.com"
                  phone: "+1.1134567890"
                  type: "SECONDARY"
                - first_name: "james"
                  last_name: "bond"
                  email: "james.bond@example.com"
                  phone: "+1.7201234567"
                  type: "PRIMARY"
                address:
                  street: "123 Main st"
                  city: "Sterling"
                  postal_code: "20123"
                  state_or_province: "VA"
                  country_code: "US"
                start_date: "Fri, 4 Apr 2025 18:18:49 GMT"
                end_date: "Sat, 4 Apr 2026 18:18:49 GMT"
                application:
                - "CCID"
                - "TCS"
                created_by: "user_v4_api_prod"
                created_date: "Wed, 18 Feb 2026 21:06:14 GMT"
                updated_by: "user_v4_api_prod"
                updated_date: "Wed, 18 Feb 2026 21:06:14 GMT"
                ein: "123456789"
                duns: "923456789"
                name_alias:
                - "name alias2"
                - "name alias1"
                vetting:
                  status: "PREVETTED"
                  status_timestamp: "Fri, 4 Apr 2025 18:18:49 GMT"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
    post:
      summary: "Update Account"
      description: "Update an existing account's details including contacts, address, billing configuration, vetting information, and more."
      operationId: "update-account"
      tags:
      - "Account Management"
      security:
      - BearerAuth: []
      x-source-id: "update-account"
      x-source-name: "Update Account"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        description: "Unique identifier of the account to update"
        schema:
          type: "string"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                id:
                  type: "string"
                  description: "The account ID (must match the path parameter)"
                name:
                  type: "string"
                  description: "Updated account display name"
                type:
                  type: "string"
                  description: "Account type"
                status:
                  type: "string"
                  description: "Account status"
                relationship:
                  type: "string"
                  description: "Relationship type"
                parent_account:
                  type: "array"
                  items: {}
                  description: "Parent account IDs"
                billing:
                  type: "object"
                  description: "Billing configuration object with id, model, frequency"
                service:
                  type: "array"
                  items: {}
                  description: "Services provisioned for this account"
                child_account_enabled:
                  type: "boolean"
                  description: "Enable or disable child accounts"
                domain:
                  type: "string"
                  description: "Domain associated with the account"
                comment:
                  type: "string"
                  description: "Free-text comment"
                contact:
                  type: "array"
                  items:
                    type: "object"
                    properties:
                      first_name:
                        type: "string"
                        description: "First name of the contact"
                      last_name:
                        type: "string"
                        description: "Last name of the contact"
                      email:
                        type: "string"
                        description: "Email address of the contact"
                      phone:
                        type: "string"
                        description: "Phone number of the contact"
                      type:
                        type: "string"
                        description: "Type of contact"
                  description: "Contact list for the account. Each entry must include first_name, last_name, email, phone, and type."
                address:
                  type: "object"
                  description: "Physical address object"
                start_date:
                  type: "string"
                  x-format: "date-time"
                  description: "The contract start date"
                end_date:
                  type: "string"
                  x-format: "date-time"
                  description: "The contract end date"
                application:
                  type: "array"
                  items: {}
                  description: "Applications this account is provisioned for"
                ein:
                  type: "string"
                  description: "Employer Identification Number"
                duns:
                  type: "string"
                  description: "DUNS number"
                name_alias:
                  type: "array"
                  items: {}
                  description: "Alternative names for the account"
                vetting:
                  type: "object"
                  properties:
                    status:
                      type: "string"
                      description: "Vetting status"
                    status_timestamp:
                      type: "string"
                      x-format: "date-time"
                      description: "Vetting status timestamp"
              required:
              - "id"
              - "name"
              - "type"
              - "status"
              - "relationship"
              - "parent_account"
              - "billing"
              - "service"
              - "start_date"
              - "end_date"
              - "application"
            example:
              id: "xvm465a2g8"
              name: "user_enterprise_7"
              type: "ENTERPRISE"
              status: "ACTIVE"
              relationship: "DIRECT"
              parent_account:
              - "xgvaf00cx3"
              billing:
                id: "user_enterprise_7"
                model: "OTHER"
                frequency: "MONTHLY"
              service:
              - type: "SDPR"
                id: "xvm465a2g8"
              - type: "WB"
              child_account_enabled: false
              domain: "user_enterprise_7"
              comment: "example for tech enabler setup for 7th account"
              contact:
              - first_name: "james"
                last_name: "bond"
                email: "james.bond@example.com"
                phone: "+1.7201234567"
                type: "PRIMARY"
              - first_name: "charlie"
                last_name: "bond"
                email: "charlie.bond@example.com"
                phone: "+1.1134567890"
                type: "SECONDARY"
              address:
                street: "123 Main st"
                city: "Sterling"
                postal_code: "20123"
                state_or_province: "VA"
                country_code: "US"
              start_date: "Fri, 4 Apr 2025 18:18:49 GMT"
              end_date: "Sat, 4 Apr 2026 18:18:49 GMT"
              application:
              - "CCID"
              - "TCS"
              ein: "123456789"
              duns: "923456789"
              name_alias:
              - "name alias2"
              - "name alias1"
              vetting:
                status: "PREVETTED"
                status_timestamp: "Fri, 4 Apr 2025 18:18:49 GMT"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  id:
                    type: "string"
                    description: "Account identifier"
                    x-constraints: "Length between 4 and 10"
                  name:
                    type: "string"
                    description: "Updated account name"
                  type:
                    type: "string"
                    description: "Account type"
                    x-constraints: "ENTERPRISE, COMPANY, or SUBSCRIBER"
                  status:
                    type: "string"
                    description: "Current account status"
                    x-constraints: "ACTIVE or INACTIVE"
                  relationship:
                    type: "string"
                    description: "Relationship type to TransUnion"
                  parent_account:
                    type: "array"
                    items: {}
                    description: "Parent account IDs"
                  billing:
                    type: "object"
                    description: "Billing configuration with id, model, and frequency"
                  service:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        type:
                          type: "string"
                          description: "Service type (e.g., SDPR, WB, STIAS)"
                        id:
                          type: "string"
                          description: "Service identifier"
                      required:
                      - "type"
                      - "id"
                    description: "List of provisioned services (SDPR, WB, STIAS, etc.)"
                  child_account_enabled:
                    type: "boolean"
                    description: "Whether child accounts are enabled"
                  domain:
                    type: "string"
                    description: "Domain associated with the account"
                  comment:
                    type: "string"
                    description: "Free-text comment about the account"
                  contact:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        first_name:
                          type: "string"
                          description: "First name of the contact"
                        last_name:
                          type: "string"
                          description: "Last name of the contact"
                        email:
                          type: "string"
                          description: "Email address of the contact"
                        phone:
                          type: "string"
                          description: "Phone number of the contact"
                        type:
                          type: "string"
                          description: "Contact type"
                          x-constraints: "PRIMARY or SECONDARY"
                    description: "List of contacts for the account. Each entry includes first_name, last_name, email, phone, and type."
                  address:
                    type: "object"
                    description: "Physical address with street, city, postal_code, state_or_province, country_code"
                  start_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Contract start date"
                    x-constraints: "RFC 1123 format"
                  end_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Contract end date"
                    x-constraints: "RFC 1123 format"
                  application:
                    type: "array"
                    items: {}
                    description: "Provisioned applications"
                    x-constraints: "CCID, TCS"
                  ein:
                    type: "string"
                    description: "Employer Identification Number"
                    x-constraints: "9 digits"
                  duns:
                    type: "string"
                    description: "Dun & Bradstreet DUNS number"
                    x-constraints: "9 digits"
                  name_alias:
                    type: "array"
                    items: {}
                    description: "Alternative names or DBAs for the account"
                  vetting:
                    type: "object"
                    properties:
                      status:
                        type: "string"
                        description: "Account vetting status"
                        x-constraints: "PREVETTED, VETTING_SUBMITTED, or VETTING_DEFERRED"
                      status_timestamp:
                        type: "string"
                        x-format: "date-time"
                        description: "When the vetting status was last updated"
                        x-constraints: "RFC 1123 format"
                  created_by:
                    type: "string"
                    description: "Original creator user ID"
                  created_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Original creation date"
                  updated_by:
                    type: "string"
                    description: "User who performed the update"
                  updated_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Timestamp of this update"
                required:
                - "id"
                - "name"
                - "type"
                - "status"
                - "relationship"
                - "parent_account"
                - "billing"
                - "service"
                - "child_account_enabled"
                - "start_date"
                - "end_date"
                - "application"
                - "created_by"
                - "created_date"
                - "updated_by"
                - "updated_date"
              example:
                id: "xeb9ekoawz"
                name: "user_sample enterprise"
                type: "ENTERPRISE"
                status: "ACTIVE"
                relationship: "DIRECT"
                parent_account:
                - "x0vo1z7q11"
                billing:
                  id: "TUwilldefine"
                  model: "OTHER"
                  frequency: "MONTHLY"
                service:
                - type: "SDPR"
                  id: "xeb9ekoawz"
                - type: "WB"
                  id: "xeb9ekoawz"
                child_account_enabled: false
                domain: "user.com"
                comment: "example for tech enabler setup"
                contact:
                - first_name: "charlie"
                  last_name: "bond"
                  email: "charlie.bond@example.com"
                  phone: "+1.1134567890"
                  type: "SECONDARY"
                - first_name: "james"
                  last_name: "bond"
                  email: "james.bond@example.com"
                  phone: "+1.7201234567"
                  type: "PRIMARY"
                address:
                  street: "123 Main st"
                  city: "Sterling"
                  postal_code: "20123"
                  state_or_province: "VA"
                  country_code: "US"
                start_date: "Fri, 4 Apr 2025 18:18:49 GMT"
                end_date: "Sat, 4 Apr 2026 18:18:49 GMT"
                application:
                - "CCID"
                - "TCS"
                created_by: "user_v4_api_prod"
                created_date: "Wed, 18 Feb 2026 21:06:14 GMT"
                updated_by: "user_v4_api_prod"
                updated_date: "Wed, 18 Feb 2026 21:43:12 GMT"
                ein: "123456789"
                duns: "923456789"
                name_alias:
                - "name alias2"
                - "name alias1"
                vetting:
                  status: "PREVETTED"
                  status_timestamp: "Fri, 4 Apr 2025 18:18:49 GMT"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
    delete:
      summary: "Delete Account"
      description: "Delete an account. All associated features, caller profiles, and TN assets must be removed before an account can be deleted."
      operationId: "delete-account"
      tags:
      - "Account Management"
      security:
      - BearerAuth: []
      x-source-id: "delete-account"
      x-source-name: "Delete Account"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        description: "Unique identifier of the account to delete"
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
  "/ccid/sdpr/v4/admin/account/{accountId}/tcs":
    post:
      summary: "Attach Account TCS"
      description: "Attach TCS (Trusted Call Solutions) configuration to an account. This enables the account for call branding and protection services by specifying the lead generation source and carrier distributors."
      operationId: "attach-account-tcs"
      tags:
      - "Account TCS"
      security:
      - BearerAuth: []
      x-source-id: "attach-account-tcs"
      x-source-name: "Attach Account TCS"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        description: "Unique identifier of the account"
        schema:
          type: "string"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                lead_generation:
                  type: "string"
                  description: "Entity that sold the service to the end customer"
                distributor:
                  type: "array"
                  items: {}
                  description: "List of distributors predefined per country"
              required:
              - "lead_generation"
            example:
              lead_generation: "TransUnion"
              distributor:
              - "AT&T"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  account_id:
                    type: "string"
                    description: "The unique identifier assigned by AAM"
                    x-constraints: "Length between 4 and 10"
                  lead_generation:
                    type: "string"
                    description: "Lead generation entity"
                    x-constraints: "Always TransUnion"
                  distributor:
                    type: "array"
                    items: {}
                    description: "Active distributors for this account"
                required:
                - "account_id"
                - "lead_generation"
              example:
                lead_generation: "TransUnion"
                distributor:
                - "AT&T"
                account_id: "x59tj8rtv1"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
    get:
      summary: "Get Account TCS"
      description: "Retrieve the TCS configuration for an account, including lead generation source and active distributors."
      operationId: "get-account-tcs"
      tags:
      - "Account TCS"
      security:
      - BearerAuth: []
      x-source-id: "get-account-tcs"
      x-source-name: "Get Account TCS"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        description: "Unique identifier of the account"
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  account_id:
                    type: "string"
                    description: "The unique identifier assigned by AAM"
                    x-constraints: "Length between 4 and 10"
                  lead_generation:
                    type: "string"
                    description: "Lead generation entity"
                    x-constraints: "Always TransUnion"
                  distributor:
                    type: "array"
                    items: {}
                    description: "List of active distributors"
                    x-constraints: "Valid for US: [AT&T]"
                required:
                - "account_id"
                - "lead_generation"
              example:
                lead_generation: "TransUnion"
                distributor:
                - "AT&T"
                account_id: "x59tj8rtv1"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
  "/ccid/sdpr/v4/admin/account/{accountId}/feature":
    post:
      summary: "Attach Features"
      description: "Attach features to an account. Multiple feature types (AUTH-ONLY, RICH-BCD, AUTH-BCD, NAME-BCD, SPOOF-CALL-PROTECTION, CNO, MFA-TN, MFA-ORIGID, ORIG-POLICY) and their carrier partner configurations can be set in a single request."
      operationId: "attach-feature"
      tags:
      - "Features"
      security:
      - BearerAuth: []
      x-source-id: "attach-feature"
      x-source-name: "Attach Features"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        description: "Unique identifier of the account"
        schema:
          type: "string"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                feature:
                  type: "array"
                  items: {}
                  description: "List of feature types to enable on the account"
                service:
                  type: "array"
                  items:
                    type: "object"
                    properties:
                      name:
                        type: "string"
                        description: "The service/feature name to configure partners for"
                      partner:
                        type: "array"
                        items:
                          type: "object"
                          properties:
                            name:
                              type: "string"
                              description: "Carrier partner name"
                            status:
                              type: "string"
                              description: "Requested enablement status for the partner"
                          required:
                          - "name"
                          - "status"
                        description: "List of carrier partner configuration objects"
                    required:
                    - "name"
                    - "partner"
                  description: "List of service objects defining carrier partner configurations for each feature"
              required:
              - "feature"
            examples:
              attach-feature:
                summary: "Attach Features"
                value:
                  feature:
                  - "AUTH-ONLY"
                  - "RICH-BCD"
                  - "AUTH-BCD"
                  - "NAME-BCD"
                  - "SPOOF-CALL-PROTECTION"
                  - "CNO"
                  - "MFA-TN"
                  - "MFA-ORIGID"
                  - "ORIG-POLICY"
                  service:
                  - name: "AUTH-ONLY"
                    partner:
                    - name: "att"
                      status: "Enable-Requested"
                  - name: "SPOOF-CALL-PROTECTION"
                    partner:
                    - name: "att"
                      status: "Enable-Requested"
                    - name: "tmobile"
                      status: "Enable-Requested"
                    - name: "verizon"
                      status: "Enable-Requested"
                  - name: "AUTH-BCD"
                    partner:
                    - name: "att"
                      status: "Enable-Requested"
                    - name: "tmobile"
                      status: "Enable-Requested"
                    - name: "verizon"
                      status: "Enable-Requested"
                  - name: "RICH-BCD"
                    partner:
                    - name: "att"
                      status: "Enable-Requested"
                    - name: "tmobile"
                      status: "Enable-Requested"
                    - name: "verizon"
                      status: "Enable-Requested"
                  - name: "CNO"
                    partner:
                    - name: "att"
                      status: "Enable-Requested"
                    - name: "tmobile"
                      status: "Enable-Requested"
                    - name: "verizon"
                      status: "Enable-Requested"
              update-feature:
                summary: "Update Features"
                value:
                  feature:
                  - "AUTH-ONLY"
                  - "RICH-BCD"
                  - "AUTH-BCD"
                  - "NAME-BCD"
                  - "SPOOF-CALL-PROTECTION"
                  - "CNO"
                  - "MFA-TN"
                  - "MFA-ORIGID"
                  - "ORIG-POLICY"
                  service:
                  - name: "AUTH-ONLY"
                    partner:
                    - name: "att"
                      status: "Enable-Completed"
                  - name: "SPOOF-CALL-PROTECTION"
                    partner:
                    - name: "att"
                      status: "Suspend-Requested"
                    - name: "tmobile"
                      status: "Suspend-Requested"
                    - name: "verizon"
                      status: "Suspend-Requested"
                  - name: "AUTH-BCD"
                    partner:
                    - name: "att"
                      status: "Enable-Completed"
                    - name: "tmobile"
                      status: "Enable-Completed"
                    - name: "verizon"
                      status: "Enable-Completed"
                  - name: "RICH-BCD"
                    partner:
                    - name: "att"
                      status: "Enable-Completed"
                    - name: "tmobile"
                      status: "Enable-Completed"
                    - name: "verizon"
                      status: "Enable-Completed"
                  - name: "CNO"
                    partner:
                    - name: "att"
                      status: "Enable-Completed"
                    - name: "tmobile"
                      status: "Enable-Completed"
                    - name: "verizon"
                      status: "Enable-Completed"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  account_id:
                    type: "string"
                    description: "The account identifier"
                  feature:
                    type: "array"
                    items: {}
                    description: "List of attached features"
                  service:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        partner:
                          type: "array"
                          items:
                            type: "object"
                            properties:
                              status:
                                type: "string"
                                description: "Current partner status after processing"
                                x-constraints: "Transitions through: Enable-Requested → Enable-Processing → Enable-Completed (or Enable-Failed)"
                            required:
                            - "status"
                    description: "Service configuration with partner statuses"
                  workflow_status:
                    type: "string"
                    description: "Overall workflow status for suspend/resume operations"
                    x-constraints: "Values: Suspend-Completed, Suspend-Initiated, Suspend-Eligible, Resume-Completed, Resume-Initiated, Resume-Eligible"
                  created_by:
                    type: "string"
                    description: "User who created the feature attachment"
                  created_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Creation timestamp"
                    x-constraints: "RFC 1123 format"
                  updated_by:
                    type: "string"
                    description: "User who performed this update"
                  updated_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Last update timestamp"
                    x-constraints: "RFC 1123 format"
                required:
                - "account_id"
                - "feature"
                - "service"
                - "created_by"
                - "created_date"
              examples:
                attach-feature:
                  summary: "Attach Features"
                  value:
                    account_id: "x59tj8rtv1"
                    feature:
                    - "AUTH-ONLY"
                    - "RICH-BCD"
                    - "AUTH-BCD"
                    - "NAME-BCD"
                    - "SPOOF-CALL-PROTECTION"
                    - "CNO"
                    - "MFA-TN"
                    - "MFA-ORIGID"
                    - "ORIG-POLICY"
                    service:
                    - name: "AUTH-ONLY"
                      partner:
                      - name: "att"
                        status: "Enable-Requested"
                    - name: "SPOOF-CALL-PROTECTION"
                      partner:
                      - name: "att"
                        status: "Enable-Requested"
                      - name: "tmobile"
                        status: "Enable-Requested"
                      - name: "verizon"
                        status: "Enable-Requested"
                    - name: "AUTH-BCD"
                      partner:
                      - name: "att"
                        status: "Enable-Requested"
                      - name: "tmobile"
                        status: "Enable-Requested"
                      - name: "verizon"
                        status: "Enable-Requested"
                    - name: "RICH-BCD"
                      partner:
                      - name: "att"
                        status: "Enable-Requested"
                      - name: "tmobile"
                        status: "Enable-Requested"
                      - name: "verizon"
                        status: "Enable-Requested"
                    - name: "CNO"
                      partner:
                      - name: "att"
                        status: "Enable-Requested"
                      - name: "tmobile"
                        status: "Enable-Requested"
                      - name: "verizon"
                        status: "Enable-Requested"
                    created_by: "user"
                    created_date: "Fri, 20 Feb 2026 20:31:49 GMT"
                update-feature:
                  summary: "Update Features"
                  value:
                    account_id: "x59tj8rtv1"
                    feature:
                    - "AUTH-ONLY"
                    - "RICH-BCD"
                    - "AUTH-BCD"
                    - "NAME-BCD"
                    - "SPOOF-CALL-PROTECTION"
                    - "CNO"
                    - "MFA-TN"
                    - "MFA-ORIGID"
                    - "ORIG-POLICY"
                    service:
                    - name: "AUTH-ONLY"
                      partner:
                      - name: "att"
                        status: "Enable-Completed"
                    - name: "SPOOF-CALL-PROTECTION"
                      partner:
                      - name: "att"
                        status: "Suspend-Requested"
                      - name: "tmobile"
                        status: "Suspend-Requested"
                      - name: "verizon"
                        status: "Suspend-Requested"
                    - name: "AUTH-BCD"
                      partner:
                      - name: "att"
                        status: "Enable-Completed"
                      - name: "tmobile"
                        status: "Enable-Completed"
                      - name: "verizon"
                        status: "Enable-Completed"
                    - name: "RICH-BCD"
                      partner:
                      - name: "att"
                        status: "Enable-Completed"
                      - name: "tmobile"
                        status: "Enable-Completed"
                      - name: "verizon"
                        status: "Enable-Completed"
                    - name: "CNO"
                      partner:
                      - name: "att"
                        status: "Enable-Completed"
                      - name: "tmobile"
                        status: "Enable-Completed"
                      - name: "verizon"
                        status: "Enable-Completed"
                    created_by: "user_v4_api_prod"
                    created_date: "Fri, 20 Feb 2026 20:31:49 GMT"
                    updated_by: "user"
                    updated_date: "Wed, 25 Feb 2026 21:47:19 GMT"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
    get:
      summary: "Get Features"
      description: "Retrieve all features attached to an account, including per-carrier partner enablement statuses."
      operationId: "get-feature"
      tags:
      - "Features"
      security:
      - BearerAuth: []
      x-source-id: "get-feature"
      x-source-name: "Get Features"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        description: "Unique identifier of the account"
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  account_id:
                    type: "string"
                    description: "The account identifier"
                  feature:
                    type: "array"
                    items: {}
                    description: "List of attached feature types"
                  service:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          type: "string"
                          description: "Feature/service name"
                        partner:
                          type: "array"
                          items:
                            type: "object"
                            properties:
                              name:
                                type: "string"
                                description: "Partner name"
                                x-constraints: "att, verizon, or tmobile"
                              status:
                                type: "string"
                                description: "Current partner enablement status"
                                x-constraints: "Full lifecycle: Enable-Requested → Enable-Processing → Enable-Completed/Failed → Disable-Requested → ..."
                            required:
                            - "name"
                            - "status"
                          description: "Carrier partner status list"
                      required:
                      - "name"
                      - "partner"
                    description: "Service configuration with partner statuses"
                  workflow_status:
                    type: "string"
                    description: "Suspend/resume workflow status"
                  created_by:
                    type: "string"
                    description: "Creator user ID"
                  created_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Creation timestamp"
                  updated_by:
                    type: "string"
                    description: "Last updater user ID"
                  updated_date:
                    type: "string"
                    x-format: "date-time"
                    description: "Last update timestamp"
                required:
                - "account_id"
                - "feature"
                - "service"
                - "created_by"
                - "created_date"
              example:
                account_id: "x59tj8rtv1"
                feature:
                - "AUTH-ONLY"
                - "RICH-BCD"
                - "AUTH-BCD"
                - "NAME-BCD"
                - "SPOOF-CALL-PROTECTION"
                - "CNO"
                - "MFA-TN"
                - "MFA-ORIGID"
                - "ORIG-POLICY"
                service:
                - name: "AUTH-ONLY"
                  partner:
                  - name: "att"
                    status: "Enable-Completed"
                - name: "SPOOF-CALL-PROTECTION"
                  partner:
                  - name: "att"
                    status: "Enable-Completed"
                  - name: "tmobile"
                    status: "Enable-Completed"
                  - name: "verizon"
                    status: "Enable-Completed"
                - name: "AUTH-BCD"
                  partner:
                  - name: "att"
                    status: "Enable-Completed"
                  - name: "tmobile"
                    status: "Enable-Completed"
                  - name: "verizon"
                    status: "Enable-Completed"
                - name: "RICH-BCD"
                  partner:
                  - name: "att"
                    status: "Enable-Completed"
                  - name: "tmobile"
                    status: "Enable-Completed"
                  - name: "verizon"
                    status: "Enable-Completed"
                - name: "CNO"
                  partner:
                  - name: "att"
                    status: "Enable-Completed"
                  - name: "tmobile"
                    status: "Enable-Completed"
                  - name: "verizon"
                    status: "Enable-Completed"
                created_by: "user_v4_api_prod"
                created_date: "Fri, 20 Feb 2026 20:31:49 GMT"
                updated_by: "user"
                updated_date: "Wed, 25 Feb 2026 21:47:19 GMT"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
    delete:
      summary: "Delete Features"
      description: "Delete all features from an account. All caller profiles and TN assets must be removed first."
      operationId: "delete-feature"
      tags:
      - "Features"
      security:
      - BearerAuth: []
      x-source-id: "delete-feature"
      x-source-name: "Delete Features"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        description: "Unique identifier of the account"
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "object"
              example: {}
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
  "/ccid/media/v1/admin/account/{accountId}/image":
    post:
      summary: "Create Image with URL"
      description: "Upload an image by providing a publicly accessible URL. The image is downloaded, processed, and stored internally. Save the returned image id — it will be used when creating an image profile."
      operationId: "create-image"
      tags:
      - "Image"
      security:
      - BearerAuth: []
      x-source-id: "create-image"
      x-source-name: "Create Image with URL"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        description: "Unique identifier of the account"
        schema:
          type: "string"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                name:
                  type: "string"
                  description: "Client supplied name associated with the image"
                  x-constraints: "The length is between 1 to 255, inclusive."
                url:
                  type: "string"
                  description: "Client supplied URL for downloading the image data"
                  x-constraints: "Must be a valid URL"
                note:
                  type: "string"
                  description: "Client supplied note associated with the image"
                  x-constraints: "The length is between 1 to 255, inclusive."
                data:
                  type: "string"
                  description: "Client supplied Base64-encoded image raw data"
                  x-constraints: "The data must result in a valid image with its size under the system-defined limit"
              required:
              - "name"
            examples:
              create-image:
                summary: "Create Image with URL"
                value:
                  name: "Smiley-Face-256x256"
                  note: "Smiley icon with 32-bits per pixel"
                  url: "https://www.example.biz/logo/smiley.bmp"
              create-image-data:
                summary: "Create Image with Data"
                value:
                  name: "Smiley-Face-256x256"
                  note: "Smiley icon with 32-bits per pixel"
                  data: "Qk04AwAAAAAAADYAAAAoAAAAEAAAABAAAAABABgAAAAAAAIDAAAAAAAAAAAAAAAAAAAAAAAA..."
      responses:
        "201":
          description: "Created"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  id:
                    type: "string"
                    description: "Unique image ID assigned by the system"
                  name:
                    type: "string"
                    description: "Client supplied name associated with the image"
                  type:
                    type: "string"
                    description: "Image format (bmp, jpg, png)"
                  width:
                    type: "integer"
                    description: "Image width in pixels"
                  height:
                    type: "integer"
                    description: "Image height in pixels"
                  size:
                    type: "integer"
                    description: "Image size in bytes"
                  note:
                    type: "string"
                    description: "Client supplied note associated with the image"
                  url:
                    type: "string"
                    description: "Client supplied URL used for downloading the image data"
                  image_url:
                    type: "string"
                    description: "URL to image that was accepted by TransUnion and that can be accessed using Bearer Token"
                  account_id:
                    type: "string"
                    description: "Account that owns the image"
                  parent_account_id:
                    type: "string"
                    description: "Parent account identifier"
                  super_account_id:
                    type: "string"
                    description: "Super (root) account identifier"
                  billing_id:
                    type: "string"
                    description: "Billing identifier associated with the account"
                  created_by:
                    type: "string"
                    description: "User who created the image"
                  created_date:
                    type: "string"
                    description: "Timestamp when the image was created (RFC 1123)"
                  updated_by:
                    type: "string"
                    description: "User who last updated the image"
                  updated_date:
                    type: "string"
                    description: "Timestamp when the image was last updated (RFC 1123)"
                required:
                - "id"
                - "name"
                - "type"
                - "width"
                - "height"
                - "size"
                - "image_url"
                - "account_id"
                - "parent_account_id"
                - "super_account_id"
                - "created_by"
                - "created_date"
              examples:
                create-image:
                  summary: "Create Image with URL"
                  value:
                    id: "90860ccc-9b34-4229-9d9c-29bf9074b674"
                    name: "Smiley-Face-256x256"
                    type: "bmp"
                    width: 256
                    height: 256
                    size: 265000
                    note: "Smiley icon with 32-bits per pixel"
                    url: "https://www.example.biz/logo/smiley.bmp"
                    image_url: "https://api-rst.ccid.neustar.biz/ccid/media/v1/admin/account/x59tj8rtv1/image/90860ccc-9b34-4229-9d9c-29bf9074b674.bmp"
                    account_id: "x59tj8rtv1"
                    parent_account_id: "x0vo1z7q11"
                    super_account_id: "x0vo1z7q11"
                    billing_id: "TEwilldefine"
                    created_by: "UserID"
                    created_date: "Sun, 3 May 2026 23:53:01 GMT"
                    updated_by: "UserID"
                    updated_date: "Sun, 3 May 2026 23:53:01 GMT"
                create-image-data:
                  summary: "Create Image with Data"
                  value:
                    id: "90860ccc-9b34-4229-9d9c-29bf9074b674"
                    name: "Smiley-Face-256x256"
                    type: "bmp"
                    width: 256
                    height: 256
                    size: 265000
                    note: "Smiley icon with 32-bits per pixel"
                    image_url: "https://api-rst.ccid.neustar.biz/ccid/media/v1/admin/account/x59tj8rtv1/image/90860ccc-9b34-4229-9d9c-29bf9074b674.bmp"
                    account_id: "x59tj8rtv1"
                    parent_account_id: "x0vo1z7q11"
                    super_account_id: "x0vo1z7q11"
                    billing_id: "TEwilldefine"
                    created_by: "UserID"
                    created_date: "Sun, 3 May 2026 23:53:01 GMT"
                    updated_by: "UserID"
                    updated_date: "Sun, 3 May 2026 23:53:01 GMT"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
    get:
      summary: "List Images"
      description: "Retrieve a list of all images that exist under the specified account."
      operationId: "list-image"
      tags:
      - "Image"
      security:
      - BearerAuth: []
      x-source-id: "list-image"
      x-source-name: "List Images"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        description: "Unique identifier of the account"
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "object"
              example:
              - id: "90860ccc-9b34-4229-9d9c-29bf9074b674"
                name: "Smiley-Face-256x256"
                type: "bmp"
                width: 256
                height: 256
                size: 265000
                note: "Smiley icon with 32-bits per pixel"
                url: "https://www.example.biz/logo/smiley.bmp"
                image_url: "https://api-rst.ccid.neustar.biz/ccid/media/v1/admin/account/x59tj8rtv1/image/90860ccc-9b34-4229-9d9c-29bf9074b674.bmp"
                account_id: "x59tj8rtv1"
                parent_account_id: "x0vo1z7q11"
                super_account_id: "x0vo1z7q11"
                billing_id: "TEwilldefine"
                created_by: "UserID"
                created_date: "Sun, 3 May 2026 23:53:01 GMT"
                updated_by: "UserID"
                updated_date: "Sun, 3 May 2026 23:53:01 GMT"
              - id: "a1b2c3d4-e5f6-4789-9abc-1234567890ab"
                name: "Company-Logo-256x256"
                type: "jpg"
                width: 256
                height: 256
                size: 48200
                note: "Company logo in JPEG format"
                url: "https://www.example.biz/logo/company-logo.jpg"
                image_url: "https://api-rst.ccid.neustar.biz/ccid/media/v1/admin/account/x59tj8rtv1/image/a1b2c3d4-e5f6-4789-9abc-1234567890ab.jpg"
                account_id: "x59tj8rtv1"
                parent_account_id: "x0vo1z7q11"
                super_account_id: "x0vo1z7q11"
                billing_id: "TEwilldefine"
                created_by: "UserID"
                created_date: "Mon, 4 May 2026 10:15:22 GMT"
                updated_by: "UserID"
                updated_date: "Mon, 4 May 2026 10:15:22 GMT"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
  "/ccid/media/v1/admin/account/{accountId}/image/{imageId}":
    put:
      summary: "Update Image"
      description: "Update an existing image's metadata. Only the `name` and `note` fields can be modified — image binary data, dimensions, type, and other attributes cannot be changed. To change the image bytes, delete the image and create a new one."
      operationId: "update-image"
      tags:
      - "Image"
      security:
      - BearerAuth: []
      x-source-id: "update-image"
      x-source-name: "Update Image"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        description: "Unique identifier of the account"
        schema:
          type: "string"
      - name: "imageId"
        in: "path"
        required: true
        description: "Unique image ID"
        schema:
          type: "string"
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                name:
                  type: "string"
                  description: "Updated name associated with the image"
                  x-constraints: "The length is between 1 to 255, inclusive."
                note:
                  type: "string"
                  description: "Updated note associated with the image"
                  x-constraints: "The length is between 1 to 255, inclusive."
              required:
              - "name"
            example:
              name: "Smiley-Face-Updated"
              note: "Updated note for smiley icon"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  id:
                    type: "string"
                    description: "Image ID"
                  name:
                    type: "string"
                    description: "Client supplied name associated with the image"
                  type:
                    type: "string"
                    description: "Image format (bmp, jpg, png)"
                  width:
                    type: "integer"
                    description: "Image width in pixels"
                  height:
                    type: "integer"
                    description: "Image height in pixels"
                  size:
                    type: "integer"
                    description: "Image size in bytes"
                  note:
                    type: "string"
                    description: "Client supplied note associated with the image"
                  url:
                    type: "string"
                    description: "Client supplied URL used for downloading the image data"
                  image_url:
                    type: "string"
                    description: "URL to image that was accepted by TransUnion and that can be accessed using Bearer Token"
                  account_id:
                    type: "string"
                    description: "Account that owns the image"
                  parent_account_id:
                    type: "string"
                    description: "Parent account identifier"
                  super_account_id:
                    type: "string"
                    description: "Super (root) account identifier"
                  billing_id:
                    type: "string"
                    description: "Billing identifier associated with the account"
                  created_by:
                    type: "string"
                    description: "User who created the image"
                  created_date:
                    type: "string"
                    description: "Timestamp when the image was created (RFC 1123)"
                  updated_by:
                    type: "string"
                    description: "User who last updated the image"
                  updated_date:
                    type: "string"
                    description: "Timestamp when the image was last updated (RFC 1123)"
                required:
                - "id"
                - "name"
                - "type"
                - "width"
                - "height"
                - "size"
                - "image_url"
                - "account_id"
                - "parent_account_id"
                - "super_account_id"
                - "created_by"
                - "created_date"
              example:
                id: "90860ccc-9b34-4229-9d9c-29bf9074b674"
                name: "Smiley-Face-Updated"
                type: "bmp"
                width: 256
                height: 256
                size: 265000
                note: "Updated note for smiley icon"
                url: "https://www.example.biz/logo/smiley.bmp"
                image_url: "https://api-rst.ccid.neustar.biz/ccid/media/v1/admin/account/x59tj8rtv1/image/90860ccc-9b34-4229-9d9c-29bf9074b674.bmp"
                account_id: "x59tj8rtv1"
                parent_account_id: "x0vo1z7q11"
                super_account_id: "x0vo1z7q11"
                billing_id: "TEwilldefine"
                created_by: "UserID"
                created_date: "Sun, 3 May 2026 23:53:01 GMT"
                updated_by: "UserID"
                updated_date: "Tue, 5 May 2026 14:22:10 GMT"
        "401":
          description: "Unauthorized — invalid or expired access token"
        "404":
          description: "Not Found — resource does not exist"
    get:
      summary: "Get Image"
      description: "Retrieve an image by ID, including its CDN URL."
      operationId: "get-image"
      tags:
      - "Image"
      security:
      - BearerAuth: []
      x-source-id: "get-image"
      x-source-name: "Get Image"
      parameters:
      - name: "accountId"
        in: "path"
        required: true
        description: "Unique identifier of the account"
        schema:
          type: "string"
      - name: "imageId"
        in: "path"
        required: true
        description: "Unique image ID"
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  id:
                    type: "string"
                    description: "Image ID"
                  name:
                    type: "string"
                    description: "Client supplied name associated with the image"
                  type:
                    type: "string"
                    description: "Image format (bmp, jpg, png)"
                  width:
                    type: "integer"
                    description: "Image width in pixels"
                  height:
                    type: "integer"
                    description: "Image height in pixels"
                  size:
                    type: "integer"
                    description: "Image size in bytes"
                  note:
                    type: "string"
                    description: "Client supplied note associated with the image"
                  url:
                    type: "string"
                    description: "Client supplied URL used for downloading the image data"
                  image_url:
                    type: "string"
                    description: "URL to image that was accepted by TransUnion and that can be accessed using Bearer Token"
                  account_id:
                    type: "string"
                    description: "Account that owns the image"
                  parent_account_id:
                    type: "string"
                    description: "Parent account identifier"
                  super_account_id:
                    type: "string"
                    description: "Super (root) account identifier"
                  billing_id:
                    type: "string"
                    description: "Billing identifier associated with the account"
                  created_by:
                    type: "string"
                    description: "User who created the image"
                  created_date:
                    type: "string"
                    description: "Timestamp when the image was created (RFC 1123)"
[...]
